/**********************************************************************************************/
/**** HIDE THE LEFT SIDEBAR *******************************************************************/
/**********************************************************************************************/

.fg-media-frame .media-frame-title,
.fg-media-frame .media-frame-content,
.fg-media-frame .media-frame-router {
	left: 0;
}

.fg-media-frame .media-frame-menu {
	top:auto;
	height:60px;
	left:16px;
}

.fg-media-frame .media-frame-menu .media-menu {
	background-color:transparent;
	border:none;
	padding: 15px 0px;
}

.fg-media-frame .media-frame-menu .media-menu a,
.fg-media-frame .media-frame-menu .media-menu div {
	display: none;
}

.fg-media-frame.hide-router .media-frame-menu .media-menu a:first-child {
	display:inline-block;
}



/**********************************************************************************************/
/**** HIDE THE RIGHT SIDEBAR ******************************************************************/
/**********************************************************************************************/

.fg-media-frame.no-details-sidebar .attachments-browser .media-toolbar,
.fg-media-frame.no-details-sidebar .attachments-browser .attachments,
.fg-media-frame.no-details-sidebar .attachments-browser .uploader-inline {
	right: 0;
}

.fg-media-frame.no-details-sidebar .media-sidebar,
.fg-media-frame.no-details-sidebar .media-toolbar-secondary,
.fg-media-frame.no-details-sidebar .media-frame .attachment .describe {
	display: none;
}



/**********************************************************************************************/
/**** TWEAK THE BOTTOM TO MAKE UP FOR NO LEFT SIDEBAR *****************************************/
/**********************************************************************************************/

.fg-media-frame .media-frame-toolbar .media-toolbar {
	border-top:0;
}

.fg-media-frame .media-frame-content {
	border-bottom: 1px solid rgb(221, 221, 221);
}



/**********************************************************************************************/
/**** THUMBNAIL PREVIEW ***********************************************************************/
/**********************************************************************************************/

#featuredgallerydiv ul {
	margin:0;
}

#featuredgallerydiv ul::after {
	display:block;
	clear:both;
	content:"";
}

#featuredgallerydiv ul li {
	margin:0 10px 10px 0;
	position:relative;
	float:left;
}

#featuredgallerydiv ul li img {
	display:block;
	height:150px;
	width:150px;
    background-image: linear-gradient(45deg,rgb(196, 196, 196) 25%,transparent 25%,transparent 75%,rgb(196, 196, 196) 75%,rgb(196, 196, 196)),linear-gradient(45deg,rgb(196, 196, 196) 25%,transparent 25%,transparent 75%,rgb(196, 196, 196) 75%,rgb(196, 196, 196));
    background-position: 0 0,10px 10px;
    background-size: 20px 20px;
    border:solid 1px gray;
}


#featuredgallerydiv ul li button {
	cursor:pointer;
	display:none;
	position:absolute;
	right:5px;
	top:5px;
	background-color:transparent;
	font-family:"dashicons";
	width: 24px;
	height:24px !important;
	padding: 0px;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	color: rgb(70, 70, 70);
	background-color: rgb(255, 255, 255);
	border-width: 0px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

#featuredgallerydiv ul li:hover button {
	display:block;
}

#featuredgallerydiv ul li button:hover {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}