/* Remove the Details Sidebar on Media Overlay */
.no-sidebar .media-frame-title,
.no-sidebar .media-frame-content,
.no-sidebar .media-frame-router {
	left: 0;
}

.no-sidebar .media-frame-menu .media-menu a,
.no-sidebar .media-frame-menu .media-menu div {
	display: none;
}
.no-sidebar.hide-router .media-frame-menu .media-menu a:first-child {
	display:inline-block;
}

.no-sidebar .media-frame-menu {
	top:auto;
	height:60px;
	left:16px;
}

.no-sidebar .media-frame-menu .media-menu {
	background-color:transparent;
	border:none;
	padding: 15px 0px;
}

#featuredgallerydiv .media-modal-icon {
	background-position: -95px 5px;
}

.media-frame-content {
	border-bottom: 1px solid rgb(221, 221, 221);
}

.media-frame-toolbar, .media-menu {
	border: 0;
	box-shadow: none;
}

/* Special CSS to the Select and Remove Buttons */

@media screen and (min-width: 783px) {
	#featuredgallerydiv button {
		height: 32px !important;
		padding-top:1px !important;
	}
}

#featuredgallerydiv button {
	margin-top:5px !important;
}

#featuredgallerydiv button#fg_removeall:before {
	content:"\f153";
	font-family:"dashicons";
	position:relative;
	top:2px;
	left:-1px;
}

/* CSS to the Preview List */

#featuredgallerydiv ul {
	margin:0;
}

#featuredgallerydiv ul::after {
	display:block;
	clear:both;
	content:"";
}

#featuredgallerydiv ul li {
	margin:0 10px 10px 0;
	position:relative;
	float:left;
}

#featuredgallerydiv ul li img {
	display:block;
	height:150px;
	width:150px;
    background-image: linear-gradient(45deg,rgb(196, 196, 196) 25%,transparent 25%,transparent 75%,rgb(196, 196, 196) 75%,rgb(196, 196, 196)),linear-gradient(45deg,rgb(196, 196, 196) 25%,transparent 25%,transparent 75%,rgb(196, 196, 196) 75%,rgb(196, 196, 196));
    background-position: 0 0,10px 10px;
    background-size: 20px 20px;
    border:solid 1px gray;
}


#featuredgallerydiv ul li button {
	cursor:pointer;
	display:none;
	position:absolute;
	right:5px;
	top:0px;
	background-color:transparent;
	font-family:"dashicons";
	width: 24px;
	height:24px !important;
	padding: 0px;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	color: rgb(70, 70, 70);
	background-color: rgb(255, 255, 255);
	border-width: 0px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

#featuredgallerydiv ul li:hover button {
	display:block;
}

#featuredgallerydiv ul li button:hover {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}